@media (max-width: 800px) {
    .masteHead {
        border: 1px solid black;
        display: flex;
    }
    
    .fitness {
        border: 1px solid black;
    }
    
    .nutrition {
        border: 1px solid black;
    }
    
    .calendar {
        border: 1px solid black;
    }
    
    .misc {
        border: 1px solid black;
    }
    
    .footerNav {
        border: 1px solid black;
    }
    
    .logDay1 {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
    }

    .oneRmInputs {
        width: 50px;
    }

    .logColName {
        width: 100px;
        word-wrap: break-word;
    }

    .exName{
        width: 100px;
        word-wrap: break-word;
        text-align: center;
    }

    .logCell {
        width: 100px;
        text-align: center;
    }
}

